* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.08rem;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #333636;
  position: relative;
}

body #scroll {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 1000;
  opacity: 0;
}

body #scroll.active {
  -webkit-animation: scale 1s ease infinite;
          animation: scale 1s ease infinite;
  opacity: 1;
}

body .dark {
  background-color: black;
}

body .story {
  height: 50vh;
}

body section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .loader-wrapper {
  background-color: #333636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  top: 0;
  left: 0;
}

body .loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
  position: fixed;
  top: 50%;
  left: 50%;
}

body .loader-wrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

body #blood-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  z-index: 0;
  position: relative;
  top: 0 !important;
}

body #blood-drop .title {
  font-weight: bold;
  font-size: 7rem;
  margin: 0;
  -webkit-filter: url(#goo);
          filter: url(#goo);
  position: relative;
  color: #CC1100;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 5s ease;
  transition: opacity 5s ease;
}

body #blood-drop .drop {
  width: .1em;
  height: .1em;
  border-radius: 0 100% 100% 100%;
  background-color: #CC1100;
  position: absolute;
  top: 50%;
  -webkit-animation: drop 3s infinite both;
          animation: drop 3s infinite both;
}

body #blood-drop .drop:nth-child(1) {
  left: 20%;
}

body #blood-drop .drop:nth-child(2) {
  left: 45%;
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}

body #blood-drop .drop:nth-child(3) {
  left: 55%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

body #blood-drop .drop:nth-child(4) {
  left: 82%;
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}

body #blood-drop .drop:nth-child(5) {
  left: 95%;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0) scaleX(0.85) rotate(45deg);
            transform: translateY(0) scaleX(0.85) rotate(45deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  60% {
    -webkit-transform: translateY(120%) scaleX(0.85) rotate(45deg);
            transform: translateY(120%) scaleX(0.85) rotate(45deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80%, 100% {
    -webkit-transform: translateY(60vh) scaleX(0.85) rotate(45deg);
            transform: translateY(60vh) scaleX(0.85) rotate(45deg);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(0) scaleX(0.85) rotate(45deg);
            transform: translateY(0) scaleX(0.85) rotate(45deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  60% {
    -webkit-transform: translateY(120%) scaleX(0.85) rotate(45deg);
            transform: translateY(120%) scaleX(0.85) rotate(45deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80%, 100% {
    -webkit-transform: translateY(60vh) scaleX(0.85) rotate(45deg);
            transform: translateY(60vh) scaleX(0.85) rotate(45deg);
  }
}

body #flood {
  background-color: #CC1100;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 200vh;
  top: 0;
  opacity: 1;
  -webkit-transition: top 5s ease;
  transition: top 5s ease;
}

body #flood .text {
  opacity: 0;
  font-size: 1.5rem;
  text-align: center;
}

body #cloudy-sky {
  background-color: #333636;
  position: relative;
  overflow-x: hidden;
}

body #cloudy-sky .cloud1, body #cloudy-sky .cloud2, body #cloudy-sky .cloud3 {
  position: absolute;
  opacity: 0;
}

body #cloudy-sky .cloud1 {
  width: 50vw;
  height: 40vh;
  left: 5rem;
  top: 4rem;
}

body #cloudy-sky .cloud2 {
  width: 50vw;
  height: 50vh;
  top: 25%;
}

body #cloudy-sky .cloud3 {
  width: 60vw;
  height: 60vh;
  right: 5rem;
  top: 3rem;
}

body #cloudy-sky-2 {
  background-color: #333636;
  height: 200vh;
  position: relative;
  overflow-x: hidden;
}

body #cloudy-sky-2 .cloud4, body #cloudy-sky-2 .cloud5, body #cloudy-sky-2 .cloud6 {
  position: absolute;
  opacity: 1;
}

body #cloudy-sky-2 .cloud4 {
  width: 60vw;
  height: 40vh;
  left: 3rem;
  top: 15%;
  z-index: 18;
}

body #cloudy-sky-2 .cloud5 {
  width: 50vw;
  height: 50vh;
  top: 17%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 22;
}

body #cloudy-sky-2 .cloud6 {
  width: 70vw;
  height: 60vh;
  right: 3rem;
  top: 10%;
  z-index: 21;
}

body #cloudy-sky-2 #sun {
  position: absolute;
  top: 25%;
  left: 50%;
  height: 3rem;
  width: 3rem;
  -webkit-box-shadow: 20px 20px 1000px 100px #f8f8f5;
          box-shadow: 20px 20px 1000px 100px #f8f8f5;
  border-radius: 50%;
  border: none;
  outline: none;
  background: radial-gradient(closest-side, #e7eb09, #fafaf9);
  z-index: 20;
  opacity: 1;
}

body #cloudy-sky-2 #end {
  position: absolute;
  opacity: 0;
  bottom: 25%;
  z-index: 100;
}

body #after-sun {
  background-color: #87ceeb;
  z-index: 10;
}

body #after-sun #end {
  opacity: 0;
}

body #section-three, body #section-four, body #section-five, body #section-six {
  opacity: 1;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #333636;
  z-index: 0;
  position: relative;
}

body #section-three #blood-1, body #section-three #blood-2, body #section-three #blood-3, body #section-three #blood-4, body #section-four #blood-1, body #section-four #blood-2, body #section-four #blood-3, body #section-four #blood-4, body #section-five #blood-1, body #section-five #blood-2, body #section-five #blood-3, body #section-five #blood-4, body #section-six #blood-1, body #section-six #blood-2, body #section-six #blood-3, body #section-six #blood-4 {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 0;
  background-color: #9E0103;
  z-index: 100;
}

body #section-three #blood-1, body #section-four #blood-1, body #section-five #blood-1, body #section-six #blood-1 {
  left: 2rem;
  border-bottom-left-radius: 3rem;
}

body #section-three #blood-2, body #section-four #blood-2, body #section-five #blood-2, body #section-six #blood-2 {
  left: 11rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #section-three #blood-3, body #section-four #blood-3, body #section-five #blood-3, body #section-six #blood-3 {
  left: 6rem;
  width: 1.5rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
  z-index: 0;
}

body #section-three #blood-4, body #section-four #blood-4, body #section-five #blood-4, body #section-six #blood-4 {
  left: 14rem;
  width: 1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
  z-index: 0;
}

body #section-three #part-one, body #section-three #woman, body #section-three #part-two, body #section-three #life, body #section-three #part-three, body #section-three #freedom, body #section-three #part-four, body #section-three #woman-life-freedom, body #section-four #part-one, body #section-four #woman, body #section-four #part-two, body #section-four #life, body #section-four #part-three, body #section-four #freedom, body #section-four #part-four, body #section-four #woman-life-freedom, body #section-five #part-one, body #section-five #woman, body #section-five #part-two, body #section-five #life, body #section-five #part-three, body #section-five #freedom, body #section-five #part-four, body #section-five #woman-life-freedom, body #section-six #part-one, body #section-six #woman, body #section-six #part-two, body #section-six #life, body #section-six #part-three, body #section-six #freedom, body #section-six #part-four, body #section-six #woman-life-freedom {
  opacity: 0;
}

body #section-three #part-one, body #section-three #part-two, body #section-three #part-three, body #section-three #part-four, body #section-four #part-one, body #section-four #part-two, body #section-four #part-three, body #section-four #part-four, body #section-five #part-one, body #section-five #part-two, body #section-five #part-three, body #section-five #part-four, body #section-six #part-one, body #section-six #part-two, body #section-six #part-three, body #section-six #part-four {
  font-size: 1.5rem;
}

body #section-three #woman, body #section-three #life, body #section-three #freedom, body #section-three #woman-life-freedom, body #section-four #woman, body #section-four #life, body #section-four #freedom, body #section-four #woman-life-freedom, body #section-five #woman, body #section-five #life, body #section-five #freedom, body #section-five #woman-life-freedom, body #section-six #woman, body #section-six #life, body #section-six #freedom, body #section-six #woman-life-freedom {
  font-size: 3rem;
  z-index: 1;
}

body #section-three #part-four, body #section-four #part-four, body #section-five #part-four, body #section-six #part-four {
  font-size: 1rem;
}

body #section-three #woman-life-freedom, body #section-four #woman-life-freedom, body #section-five #woman-life-freedom, body #section-six #woman-life-freedom {
  font-size: 1.5rem;
}

body #section-three .life-image, body #section-four .life-image, body #section-five .life-image, body #section-six .life-image {
  position: absolute;
  bottom: 15%;
  left: 5rem;
  width: 10rem;
  height: 10rem;
  opacity: 0;
  z-index: 0;
}

body #section-three .impact, body #section-four .impact, body #section-five .impact, body #section-six .impact {
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index: 1;
}

body #section-three .story-three-impact1, body #section-four .story-three-impact1, body #section-five .story-three-impact1, body #section-six .story-three-impact1 {
  top: 20%;
  left: 10%;
}

body #section-three .story-three-impact2, body #section-four .story-three-impact2, body #section-five .story-three-impact2, body #section-six .story-three-impact2 {
  top: 60%;
  left: 40%;
}

body #section-three .story-three-impact3, body #section-four .story-three-impact3, body #section-five .story-three-impact3, body #section-six .story-three-impact3 {
  bottom: 10%;
  right: 20%;
}

body #section-three #impact-blood-1, body #section-three #impact-blood-2, body #section-three #impact-blood-3, body #section-four #impact-blood-1, body #section-four #impact-blood-2, body #section-four #impact-blood-3, body #section-five #impact-blood-1, body #section-five #impact-blood-2, body #section-five #impact-blood-3, body #section-six #impact-blood-1, body #section-six #impact-blood-2, body #section-six #impact-blood-3 {
  position: absolute;
  width: 1rem;
  height: 0;
  background-color: #9E0103;
  z-index: 0;
}

body #section-three #impact-blood-1, body #section-four #impact-blood-1, body #section-five #impact-blood-1, body #section-six #impact-blood-1 {
  top: calc(20% + 2rem);
  left: calc(10% + 1.5rem);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #section-three #impact-blood-2, body #section-four #impact-blood-2, body #section-five #impact-blood-2, body #section-six #impact-blood-2 {
  top: calc(60% + 2rem);
  left: calc(40% + 1.5rem);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #section-three #impact-blood-3, body #section-four #impact-blood-3, body #section-five #impact-blood-3, body #section-six #impact-blood-3 {
  bottom: calc(10% - 1rem);
  right: calc(20% + 1.5rem);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #part-one-texts, body #part-two-texts, body #part-three-texts, body #part-four-texts {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400vh;
  color: whitesmoke;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #333636;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-x: hidden;
}

body #part-one-texts .text, body #part-two-texts .text, body #part-three-texts .text, body #part-four-texts .text {
  opacity: 0;
  font-size: 1rem;
  text-align: center;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #part-one-texts #story-one-blood1, body #part-one-texts #story-one-blood2, body #part-one-texts #story-one-blood3, body #part-one-texts #story-one-blood3, body #part-one-texts #story-one-blood4, body #part-one-texts #story-one-blood5, body #part-two-texts #story-one-blood1, body #part-two-texts #story-one-blood2, body #part-two-texts #story-one-blood3, body #part-two-texts #story-one-blood3, body #part-two-texts #story-one-blood4, body #part-two-texts #story-one-blood5, body #part-three-texts #story-one-blood1, body #part-three-texts #story-one-blood2, body #part-three-texts #story-one-blood3, body #part-three-texts #story-one-blood3, body #part-three-texts #story-one-blood4, body #part-three-texts #story-one-blood5, body #part-four-texts #story-one-blood1, body #part-four-texts #story-one-blood2, body #part-four-texts #story-one-blood3, body #part-four-texts #story-one-blood3, body #part-four-texts #story-one-blood4, body #part-four-texts #story-one-blood5 {
  width: 50vw;
  height: 50vh;
  position: absolute;
  z-index: 0;
  opacity: 1;
  bottom: 10%;
}

body #part-one-texts #story-one-blood1, body #part-two-texts #story-one-blood1, body #part-three-texts #story-one-blood1, body #part-four-texts #story-one-blood1 {
  right: 1rem;
}

body #part-one-texts #story-one-blood2, body #part-two-texts #story-one-blood2, body #part-three-texts #story-one-blood2, body #part-four-texts #story-one-blood2 {
  opacity: 1;
  left: 1rem;
}

body #part-one-texts #story-one-blood3, body #part-one-texts #story-one-blood4, body #part-one-texts #story-one-blood5, body #part-two-texts #story-one-blood3, body #part-two-texts #story-one-blood4, body #part-two-texts #story-one-blood5, body #part-three-texts #story-one-blood3, body #part-three-texts #story-one-blood4, body #part-three-texts #story-one-blood5, body #part-four-texts #story-one-blood3, body #part-four-texts #story-one-blood4, body #part-four-texts #story-one-blood5 {
  width: 20rem;
  height: 20rem;
  opacity: 0;
  border-radius: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #part-one-texts #story-one-blood3, body #part-two-texts #story-one-blood3, body #part-three-texts #story-one-blood3, body #part-four-texts #story-one-blood3 {
  top: 50%;
  left: 50%;
}

body #part-one-texts #story-one-blood4, body #part-two-texts #story-one-blood4, body #part-three-texts #story-one-blood4, body #part-four-texts #story-one-blood4 {
  top: 25%;
  left: 50%;
}

body #part-one-texts #story-one-blood5, body #part-two-texts #story-one-blood5, body #part-three-texts #story-one-blood5, body #part-four-texts #story-one-blood5 {
  bottom: 10%;
  left: 50%;
}

body #part-one-texts .doll, body #part-two-texts .doll, body #part-three-texts .doll, body #part-four-texts .doll {
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20rem;
  height: 20rem;
  opacity: 0;
  border-radius: 25px;
}

body #part-one-texts .story-two-doll1, body #part-two-texts .story-two-doll1, body #part-three-texts .story-two-doll1, body #part-four-texts .story-two-doll1 {
  top: 20%;
}

body #part-one-texts .story-two-doll2, body #part-two-texts .story-two-doll2, body #part-three-texts .story-two-doll2, body #part-four-texts .story-two-doll2 {
  top: 50%;
}

body #part-one-texts .story-two-doll3, body #part-two-texts .story-two-doll3, body #part-three-texts .story-two-doll3, body #part-four-texts .story-two-doll3 {
  top: 70%;
}

body #part-one-texts .story-two-life, body #part-two-texts .story-two-life, body #part-three-texts .story-two-life, body #part-four-texts .story-two-life {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body #part-one-texts .story-two-soul1, body #part-one-texts .story-two-soul2, body #part-two-texts .story-two-soul1, body #part-two-texts .story-two-soul2, body #part-three-texts .story-two-soul1, body #part-three-texts .story-two-soul2, body #part-four-texts .story-two-soul1, body #part-four-texts .story-two-soul2 {
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 45vw;
  height: 20vh;
  opacity: 0.5;
  z-index: 1;
}

body #part-one-texts .story-two-soul2, body #part-two-texts .story-two-soul2, body #part-three-texts .story-two-soul2, body #part-four-texts .story-two-soul2 {
  opacity: 0.2;
  -webkit-transform: translateX(-47%);
          transform: translateX(-47%);
  z-index: 0;
}

body #part-one-texts .saten, body #part-two-texts .saten, body #part-three-texts .saten, body #part-four-texts .saten {
  width: 10vh;
  height: 20vh;
  opacity: 0.7;
  position: absolute;
  right: 10%;
  z-index: 0;
}

body #part-one-texts .story-two-saten2, body #part-two-texts .story-two-saten2, body #part-three-texts .story-two-saten2, body #part-four-texts .story-two-saten2 {
  top: 70%;
}

body #part-one-texts .story-two-saten1, body #part-two-texts .story-two-saten1, body #part-three-texts .story-two-saten1, body #part-four-texts .story-two-saten1 {
  top: 20%;
  left: 50%;
}

body #part-one-texts .story-two-saten3, body #part-two-texts .story-two-saten3, body #part-three-texts .story-two-saten3, body #part-four-texts .story-two-saten3 {
  top: 40%;
  left: 30%;
}

body #part-one-texts .story-two-saten4, body #part-two-texts .story-two-saten4, body #part-three-texts .story-two-saten4, body #part-four-texts .story-two-saten4 {
  top: 55%;
  left: 80%;
}

body #part-one-texts .story-two-saten5, body #part-two-texts .story-two-saten5, body #part-three-texts .story-two-saten5, body #part-four-texts .story-two-saten5 {
  top: 70%;
  right: 30%;
}

body #part-one-texts .story-two-saten7, body #part-two-texts .story-two-saten7, body #part-three-texts .story-two-saten7, body #part-four-texts .story-two-saten7 {
  top: 70%;
  opacity: 0;
  width: 17vh;
  z-index: 1;
  right: calc(10% - 3vh);
}

body #part-four-texts {
  height: 200vh;
}

body #section-five {
  background-color: #CC1100;
}

body #section-five .story-three-cage {
  width: 10rem;
  height: 15rem;
  position: absolute;
  bottom: 0;
  left: 2rem;
  opacity: 0;
  z-index: 100;
}

body #section-five .bird {
  width: 5rem;
  height: 5rem;
  position: absolute;
  opacity: 0;
  z-index: 100;
}

body #section-five .story-three-bird1 {
  bottom: 15%;
  left: 20%;
}

body #section-five .story-three-bird2 {
  bottom: 18%;
  left: 40%;
}

body #section-five .story-three-bird3 {
  bottom: 21%;
  left: 60%;
}

body #section-five .story-three-bird4 {
  bottom: 24%;
  left: 80%;
}

body #last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  background-color: #87ceeb;
}

body #last p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  z-index: 200;
  text-align: center;
}

body #last p #linkedin:hover {
  cursor: pointer;
}

body #part-three-texts {
  background-color: #CC1100;
  position: relative;
  max-width: 100vw;
  z-index: 0;
}

body #part-three-texts span:before {
  content: "\2260";
}

body #part-three-texts .bullet {
  height: 2rem;
  width: 2rem;
  position: absolute;
  z-index: 0;
}

body #part-three-texts .story-three-bullet1 {
  top: 20%;
  left: 5rem;
}

body #part-three-texts .story-three-bullet2 {
  top: 50%;
  left: 0;
}

body #part-three-texts .story-three-bullet3 {
  top: 75%;
  left: 0;
}

body #part-three-texts .story-three-bullet4 {
  top: 80%;
  left: 0;
}

body #part-three-texts .story-three-bullet5 {
  top: 85%;
  left: 0;
}

body #part-three-texts .story-three-gun {
  height: 8rem;
  width: 12rem;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 1;
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */