@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.08rem;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;

  .dark {
    background-color: black;
  }

  .landing-page {
    @include flex;
    position: relative;
    height: 100vh;

    .cloud-one {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 15rem 15rem 6rem 0px rgb(128, 127, 127);
      position: fixed;
      top: -20%;
      left: 0;
      z-index: 5;
    }
  
    .cloud-two {
      width: 40%;
      height: 35%;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 20rem 20rem 5rem 0px rgb(168, 167, 167);
      position: fixed;
      top: -20%;
      left: 30%;
      z-index: 10;
    }

    .cloud-three {
      width: 35%;
      height: 55%;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 25rem 25rem 5rem 0px rgb(156, 151, 151);
      position: fixed;
      top: -60%;
      left: 25%;
      z-index: 7;
    }

    #sun {
      position: fixed;
      top: 15%;
      left: 65%;
      height: 200px;
      width: 200px;
      box-shadow: 20px 20px 1000px 100px rgb(248, 248, 245);
      border-radius: 50%;
      border: none;
      outline: none;
      background: radial-gradient(closest-side, #e7eb09, #fafaf9);
      z-index: 0;
      opacity: 1;
    }
  }

  #section-two {
    position: relative;
    width: 100vw;
    height: 200vh;
    text-align: center;

    #first-paragraph, #second-paragraph {
      font-size: 1rem;
      text-align: center;
      opacity: 0;
      width: 100%;
      z-index: 100;
      margin-bottom: 2rem;
    }

    #iran-title {
      font-size: 15rem;
      opacity: 0;
    }
  }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story {
    height: 50vh;
  }

  .dark {
    background-color: black;
  }

  #section-three {
    z-index: 20;
    opacity: 1;
    color: black;
    opacity: 0.8;
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    #blood-1, #blood-2, #blood-3, #blood-4 {
      position: absolute;
      top: 0;
      width: 10rem;
      height: 0;
      background-color: #CC1100;
    }

    #blood-1 {
      left: 2rem;
      border-bottom-left-radius: 3rem;
    }

    #blood-2 {
      left: 11rem;
      border-bottom-left-radius: 2.5rem;
      border-bottom-right-radius: 3rem;
    }

    #blood-3 {
      left: 6rem;
      width: 1.5rem;
      border-bottom-left-radius: 2.5rem;
      border-bottom-right-radius: 3rem;
    }

    #blood-4 {
      left: 14rem;
      width: 1rem;
      border-bottom-left-radius: 2.5rem;
      border-bottom-right-radius: 3rem;
    }

    #part-one, #woman {
      opacity: 0;
    }

    #part-one {
      font-size: 2rem;
    }

    #woman {
      font-size: 5rem;
    }
  }

  #section-four {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 20rem;

    #story-one-title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      
      .hide {
        display: none;
      }
  
      .changable {
        height: 2rem;
        width: 8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        #happy, #desperate {
          height: 100%;
          width: auto;
        }
  
        #happy {
          transition: display 1s ease;
        }  

        .move {
          display: none;
        }

        .blink {
          opacity: 0;
        }

        #desperate {
          color: red;
          font-weight: bold;
        }
      }
    }

    .item {
      opacity: 0;
    }

    // #positive-1 {
    //   top: 10%;
    // }

    // #positive-2 {
    //   top: 13%;
    // }

    // #positive-3 {
    //   top: 18%;
    // }
    // #negative-1 {
    //   top: 22%;
    // }
  }

  #positive-1, #positive-2, #positive-3, #negative-1, #negative-2, #negative-3, #negative-4, #negative-5, #negative-6, #negative-7, #negative-8 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes flow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}