@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.08rem;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;

  .landing-page {
    @include flex;
    position: relative;
    // height: 600vh;
    height: 100vh;

    .cloud-circle1 {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 15rem 15rem 6rem 0px rgb(128, 127, 127);
      position: fixed;
      top: -20%;
      left: 0;
      z-index: 5;
    }
  
    .cloud-circle2 {
      width: 40%;
      height: 35%;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 20rem 20rem 5rem 0px rgb(168, 167, 167);
      position: fixed;
      top: -20%;
      left: 30%;
      z-index: 10;
    }

    .cloud-circle3 {
      width: 35%;
      height: 55%;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 25rem 25rem 5rem 0px rgb(156, 151, 151);
      position: fixed;
      top: -60%;
      left: 25%;
      z-index: 7;
    }

    #sun {
      position: fixed;
      top: 15%;
      left: 65%;
      height: 200px;
      width: 200px;
      box-shadow: 20px 20px 1000px 100px rgb(248, 248, 245);
      border-radius: 50%;
      border: none;
      outline: none;
      background: radial-gradient(closest-side, #e7eb09, #fafaf9);
      z-index: 0;
      opacity: 1;
    }
  }

  #section-two {
    position: relative;
    width: 100vw;
    height: 200vh;
    text-align: center;

    #first-paragraph, #second-paragraph {
      font-size: 1rem;
      text-align: center;
      opacity: 0;
      width: 100%;
      z-index: 100;
      margin-bottom: 2rem;
    }

    #iran-title {
      font-size: 15rem;
      opacity: 0;
    }
  }

  section {
    height: 100vh;
  }

  #section-three {
    z-index: 20;
    opacity: 1;
    color: black;
    opacity: 0.8;
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    #blood, #blood-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 10rem;
      height: 10rem;
    }

    #blood, #blood-cover {
      background-color: red;
    }
    #blood-cover {
      border-radius: 50%;
      background-color: blue;
    }

    #part-one, #woman {
      opacity: 0;
    }

    #part-one {
      font-size: 2rem;
    }

    #woman {
      font-size: 5rem;
    }
  }
}

@keyframes flow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}