* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.08rem;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

body .dark {
  background-color: black;
}

body .landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  height: 100vh;
}

body .landing-page .cloud-one {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  -webkit-filter: url(#filter);
          filter: url(#filter);
  -webkit-box-shadow: 15rem 15rem 6rem 0px #807f7f;
          box-shadow: 15rem 15rem 6rem 0px #807f7f;
  position: fixed;
  top: -20%;
  left: 0;
  z-index: 5;
}

body .landing-page .cloud-two {
  width: 40%;
  height: 35%;
  border-radius: 50%;
  -webkit-filter: url(#filter);
          filter: url(#filter);
  -webkit-box-shadow: 20rem 20rem 5rem 0px #a8a7a7;
          box-shadow: 20rem 20rem 5rem 0px #a8a7a7;
  position: fixed;
  top: -20%;
  left: 30%;
  z-index: 10;
}

body .landing-page .cloud-three {
  width: 35%;
  height: 55%;
  border-radius: 50%;
  -webkit-filter: url(#filter);
          filter: url(#filter);
  -webkit-box-shadow: 25rem 25rem 5rem 0px #9c9797;
          box-shadow: 25rem 25rem 5rem 0px #9c9797;
  position: fixed;
  top: -60%;
  left: 25%;
  z-index: 7;
}

body .landing-page #sun {
  position: fixed;
  top: 15%;
  left: 65%;
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 20px 20px 1000px 100px #f8f8f5;
          box-shadow: 20px 20px 1000px 100px #f8f8f5;
  border-radius: 50%;
  border: none;
  outline: none;
  background: radial-gradient(closest-side, #e7eb09, #fafaf9);
  z-index: 0;
  opacity: 1;
}

body #section-two {
  position: relative;
  width: 100vw;
  height: 200vh;
  text-align: center;
}

body #section-two #first-paragraph, body #section-two #second-paragraph {
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 2rem;
}

body #section-two #iran-title {
  font-size: 15rem;
  opacity: 0;
}

body section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .story {
  height: 50vh;
}

body .dark {
  background-color: black;
}

body #section-three {
  z-index: 20;
  opacity: 1;
  color: black;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #section-three #blood-1, body #section-three #blood-2, body #section-three #blood-3, body #section-three #blood-4 {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 0;
  background-color: #CC1100;
}

body #section-three #blood-1 {
  left: 2rem;
  border-bottom-left-radius: 3rem;
}

body #section-three #blood-2 {
  left: 11rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #section-three #blood-3 {
  left: 6rem;
  width: 1.5rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #section-three #blood-4 {
  left: 14rem;
  width: 1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 3rem;
}

body #section-three #part-one, body #section-three #woman {
  opacity: 0;
}

body #section-three #part-one {
  font-size: 2rem;
}

body #section-three #woman {
  font-size: 5rem;
}

body #section-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 20rem;
}

body #section-four #story-one-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

body #section-four #story-one-title .hide {
  display: none;
}

body #section-four #story-one-title .changable {
  height: 2rem;
  width: 8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body #section-four #story-one-title .changable #happy, body #section-four #story-one-title .changable #desperate {
  height: 100%;
  width: auto;
}

body #section-four #story-one-title .changable #happy {
  -webkit-transition: display 1s ease;
  transition: display 1s ease;
}

body #section-four #story-one-title .changable .move {
  display: none;
}

body #section-four #story-one-title .changable .blink {
  opacity: 0;
}

body #section-four #story-one-title .changable #desperate {
  color: red;
  font-weight: bold;
}

body #section-four .item {
  opacity: 0;
}

body #positive-1, body #positive-2, body #positive-3, body #negative-1, body #negative-2, body #negative-3, body #negative-4, body #negative-5, body #negative-6, body #negative-7, body #negative-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */